body {
    padding: 0;
    margin: 0;
    color: #3f3f3f;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    background-color: azure;
}

h1 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}

img {
    margin-right: 2rem;
    margin-bottom: 2rem;
}

p {
}

.flex {
    display: flex;
    justify-content: stretch;
    vertical-align: middle;
}

.header {
    text-align: left;
    padding-left: 2rem;
    background-color: rgb(189, 189, 189);
    width: 100%;
    margin: 0px;
    height: 4rem;
    padding-top: 1rem;
    box-shadow: #3f3f3f 0px 0px 5px;
}
a {
    text-decoration: none;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: rgb(210, 252, 252);
}

.header h1 {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.header ul {
    display: flex;
}

.header li {
    display: block;
    margin: 0 1.5rem;
    list-style: none;
    text-decoration: none;
    transition: all 0.5s;
}

.header li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.container {
    border-radius: 10px;
    box-shadow: #3f3f3f 0px 0px 5px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 2rem;
    width: 40rem;
    border: 2px solid #3f3f3f;
    background: white;
}